<section class="hero is-fullheight has-text-centered" id="schedule">
    <div class="hero-body">
        <div class="container">
            <div>
                <!-- Calendly inline widget begin -->
                <h2>Schedule a meeting with me</h2>
                <div class="calendly-inline-widget" data-url="https://calendly.com/ds-dobson/one-on-one-tech-support" style="min-width:320px;height:730px;"></div>
                <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
                <!-- Calendly inline widget end -->
            </div>
        </div>
    </div>
</section>
